{% extends 'layout/_main.html' %}

{% block content %}
<h1 class="title">Git API</h1>
<div class="gitapp">
  <input class="input-new-repo" id="input-new-repo" placeholder="put name of new repo here then Enter">
  <div class="user">
    <img class="user__avatar" id="user-avatar">
    <p class="user__name">Name: <span id="user-name"></span></p>
    <p class="user__email" id="user-email"></p>
  </div>
  <ul class="repos-list" id="repo-list"></ul>
</div>

<template id="repo-template">
  <li class="repo">
    <input class="repo__name" id="repo-name" readonly>
    <button class="btn repo__remove" id="btn-remove-repo"></button>
  </li>
</template>
{% endblock %}
